@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');
*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header-first-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}
.list-detail{
    display: flex;
    list-style: none;
    gap: 10px;
}
.header-second-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
}
.header-img{
    background: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    padding: 30px;
}